@import 'tailwindcss';

body {
    font-family: cursive;
    background-color: #121212;
    color: white;
}

.container {
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
}

.padding-box {
    padding: 10px 30px;
}

.aside-menu-btn {
    display: none;
}

@media screen and (max-width: 1000px) {
    .padding-box {
        padding: 10px 10px;
    }
}

@media screen and (max-width: 500px) {
    .aside-menu-btn {
        display: flex;
    }

    .menu-btn {
        display: none;
    }
}